# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\VSCodeProjects\HistoryMuseumBackapp\HistoricalMuseum\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
