{% extends "HistoryMuseum/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section float-center">
        <div class="col-12 pt-8 pb-2 mb-4">
        <legend class="border-bottom mb-4">Πληροφορίες Λογαριασμού</legend>
      <div class="media">  
        <img class="rounded-circle account-img" src="{{ user.student.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">Ονοματεπώνυμο: {{ user.student.first_name }} {{ user.student.last_name }}</p>
            <p class="text-secondary">Ηλικία: {{ user.student.age }}</p>
            <p class="text-secondary">Email: {{ user.email }}</p>

        </div>
      </div>
    </div>
    <div class="content-section"> 
      <div class="col-12 pt-4 pb-5 mb-2">       
    <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Επεξεργασία Λογαριασμού</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Ενημέρωση</button>
          </div>
        </form>
      </div>
      
</div>


<div class ="content-section"> 
<legend class="border-bottom mb-4 center">Στατιστικά</legend>
<table class="centered">
    <thead>
    <tr>
        <th>Ήρωας</th>
        <th>Φορές Μελέτης Θεωρίας</th>
        <th>Περάστηκε</th>
        <th>Αποτέλεσμα Τελευταίου Τεστ</th>
        <th>Προσπάθειες</th>
        <th>Συνολικές Σωστές Απαντήσεις</th>
        <th>Συνολικές Λάθος Απαντήσεις</th>
        <th>Σύνολο % Επιτυχίας</th>

    </tr>
    </thead>
    <tbody>
    {% for stat in stats %}
        <tr>
            <td>{{ stat.test.title }}</td>
            <td>{{ stat.times_read }}</td>
            <td>{% if stat.passed %} Ναι {% else %} Όχι {% endif %}</td>
            <td>{{ stat.score|floatformat:0 }} %</td>
            <td>{{ stat.times_taken }}</td>
            <td>{{ stat.answers_correct }}/{{ stat.answers_total }}</td>
            <td>{{ stat.answers_wrong }}/{{ stat.answers_total }}</td>
            <td>{{ stat.success_rate|floatformat:0 }} %</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</fieldset>
</div>
</div>
{% endblock %}